# URL: Redmine site (url) [required]
URL=

# KEY: redmine api key (alfanumeric string) [required]
KEY=

# READ_ONLY: set to true to skip PUT/POST petitions (they will still be logged), false by default
# READ_ONLY = false

# AUTO_LOAD_TOTAL_HOURS: set to false to manually load total hours (faster startup time), true by default
# AUTO_LOAD_TOTAL_HOURS = true
