# Format:
# key=value
# Empty lines are ignored, anything after a '#' is ignored too

# Required entries:
# URL= Redmine site (url)
# KEY= redmine api key (alfanumeric string)

URL=https://redmine.hiberus.com/redmine/

KEY=
